kafka-python==2.0.2
feedparser==6.0.11
transformers==4.40.1
sentencepiece==0.2.0
torch>=2.2          # pobierze CPU-only
protobuf<4.0.0      # transformers wymaga <4 przy torch 2.2
confluent-kafka==2.4.0
pymongo==4.6.3
schedule==1.2.1
tqdm==4.66.4
requests==2.31.0
